/* edge dark */
:root {
    --moonlight-desaturated-gray: #7f8490;
    --moonlight-dark-blue: #354157;
    --moonlight-blue: #6cb6eb;
    --moonlight-sky-blue: #5079be;
    --moonlight-cyan: #5dbbc1;
    --moonlight-red: #ec7279;
    --moonlight-dark-red: #55393d;
    --moonlight-light-red: #e17373;
    --moonlight-yellow: #deb974;
    --moonlight-orange: #be7e05;
    --moonlight-dark-orange: #d05858;
    --moonlight-teal: #3a8b84;
    --moonlight-green: #a0c980;
    --moonlight-purple: #bf75d6;
    --moonlight-pink: #d38aea;
    --moonlight-indigo: #6996e0;
    --moonlight-bright-cyan: #5dbbc1;
    --moonlight-gray-10-alt: #eef1f4;
    --moonlight-gray-10: #e8ebf0;
    --moonlight-gray-9: #dde2e7;
    --moonlight-gray-8: #bcc5cf;
    --moonlight-gray-7: #949ba5;
    --moonlight-gray-6: #7e8294;
    --moonlight-gray-5: #7a819d;
    --moonlight-gray-4: #404455;
    --moonlight-gray-3: #3a3e4e;
    --moonlight-gray-2: #30323a;
    --moonlight-gray-1: #2c2e34;

    --scrollbar-chrome-size: 6px;
}


/* gruvbox-dark version
:root {
    --moonlight-desaturated-gray: #7c6f64;
    --moonlight-dark-blue: #076678;
    --moonlight-blue: #458588;
    --moonlight-sky-blue: #83a598;
    --moonlight-cyan: #427b58;
    --moonlight-red: #cc241d;
    --moonlight-dark-red: #9d0006;
    --moonlight-light-red: #fb4934;
    --moonlight-yellow: #d79921;
    --moonlight-orange: #d65d0e;
    --moonlight-dark-orange: #af3a03;
    --moonlight-teal: #689d6a;
    --moonlight-green: #98971a;
    --moonlight-purple: #b16286;
    --moonlight-pink: #d3869b;
    --moonlight-indigo: #6a68a1;
    --moonlight-bright-cyan: #8ec07c;
    --moonlight-gray-10-alt: #f9f5d7;
    --moonlight-gray-10: #fbf1c7;
    --moonlight-gray-9: #f2e5bc;
    --moonlight-gray-8: #d5c4a1;
    --moonlight-gray-7: #bdae93;
    --moonlight-gray-6: #a89984;
    --moonlight-gray-5: #928374;
    --moonlight-gray-4: #665c54;
    --moonlight-gray-3: #504945;
    --moonlight-gray-2: #3c3836;
    --moonlight-gray-1: #282828;

    --scrollbar-chrome-size: 6px;
}*/


/* moonlight version
:root {
    --moonlight-desaturated-gray: #7f85a3;
    --moonlight-dark-blue: #4976eb;
    --moonlight-blue: #82aaff;
    --moonlight-sky-blue: #50c4fa;
    --moonlight-cyan: #86e1fc;
    --moonlight-red: #ff757f;
    --moonlight-dark-red: #ff5370;
    --moonlight-light-red: #ff98a4;
    --moonlight-yellow: #ffc777;
    --moonlight-orange: #ff966c;
    --moonlight-dark-orange: #fc7b7b;
    --moonlight-teal: #4fd6be;
    --moonlight-green: #c3e88d;
    --moonlight-purple: #c099ff;
    --moonlight-pink: #fca7ea;
    --moonlight-indigo: #7a88cf;
    --moonlight-bright-cyan: #b4f9f8;
    --moonlight-gray-10-alt: #bcc4d6;
    --moonlight-gray-10: #c8d3f5;
    --moonlight-gray-9: #b4c2f0;
    --moonlight-gray-8: #a9b8e8;
    --moonlight-gray-7: #828bb8;
    --moonlight-gray-6: #444a73;
    --moonlight-gray-5: #2f334d;
    --moonlight-gray-4: #222436;
    --moonlight-gray-3: #1e2030;
    --moonlight-gray-2: #191a2a;
    --moonlight-gray-1: #131421;

    --scrollbar-chrome-size: 6px;
} */
